.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

raw_data/
tryhard.R
src/*.dll
src/*.o
src-i386/
src-x64

.vscode/

dev/raw_data
dev/data
dev/dev_cp_datarmor.R
/doc/
/Meta/
docs/

inst/notice/*.aux
inst/notice/*.log
inst/notice/*.out
inst/notice/*.synctex.gz
inst/Meta
inst/doc
